header{
    text-align: center;
}

.formLabel{
    width: 3cm;
    display: inline-block;
}

.formRow{
    margin-bottom: 10px;
    display: inline-block;
}

.button{
    margin-bottom: 10px;
    display: block;
    text-align: right;
}

.flag{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.landName{
    margin-bottom: 4;
    margin-top: 0;
}

#ploegen{
    background: url("resources/homepage/ploegen.jpg");
}

#opstelling{
    background: url("resources/homepage/opstelling.jpg");

}

#stadions{
    background: url("resources/homepage/stadion.jpeg");

}

#simulator{
    background: url("resources/homepage/simulatie.jpg");

}

.home{
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.homeDiv{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}